@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');
body{
    background-image:url(https://i.pinimg.com/236x/fa/eb/44/faeb443a2b3d292aab4d4ba86eb8260a.jpg);
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    
}

@media screen and (max-width: 575px) {
    .login-container{
        justify-content: center;
        align-content: center;
        margin-top: 15%;
        margin:auto;
        display:inline-block;
        padding:40px;
        
        
    }
    .login-form-1{
        
        display:auto;
        padding:5%;
        padding-bottom: 15%;
        margin:5% ;
        border: 0.5px groove;
        border-radius: 5px;
        border-width: 5px;
        border-color  : rgb(255, 255, 255);
        box-shadow: 
        inset 0 0 0.5em 0 rgba(0,178,255,1),
         0 0 3em 0 rgba(0,178,255,1);
        background: rgb(0, 0, 0);
    }
    .login-form-2{
        display:auto;
        padding: 5%;
        padding-bottom: 15%;;
        margin:5% ;
        border: 0.5px groove;
        border-radius: 5px;
        border-width: 5px;
        border-color: rgb(255, 255, 255);
        box-shadow:
        inset 0 0 0.5em 0 rgba(0,178,255,1), 0 0 3em 0 rgba(255,0,0);
       
        background: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 768px) {
    .login-container{
        justify-content: center;
        align-content: center;
        margin-top: 15%;
        margin:auto;
        display: block;
        padding:40px;
        
        
    }
    .login-form-1{
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
        padding:5%;
        padding-bottom: 15%;
        border: 0.5px groove;
        border-radius: 5px;
        border-width: 5px;
        border-color  : rgb(255, 255, 255);
        box-shadow: 
        inset 0 0 0.5em 0 rgba(0,178,255,1),
         0 0 3em 0 rgba(0,178,255,1);
        background: rgb(0, 0, 0);
    }
    .login-form-2{
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1%;
        padding: 5%;
        padding-bottom: 15%;
        border: 0.5px groove;
        border-radius: 5px;
        border-width: 5px;
        border-color: rgb(255, 255, 255);
        box-shadow:
        inset 0 0 0.5em 0 rgba(0,178,255,1), 0 0 3em 0 rgba(255,0,0);
       
        background: rgb(0, 0, 0);
    }
  }
  @media screen and (min-width: 768px) {
    .login-container{
        margin-top: 15%;
        margin:auto;
        padding:40px;
        
        
    }
    .login-form-1{
        right:2.5%;
        padding:5%;
        border: 0.5px groove;
        border-radius: 5px;
        border-width: 5px;
        border-color  : rgb(255, 255, 255);
        box-shadow: 
        inset 0 0 0.5em 0 rgba(0,178,255,1),
         0 0 3em 0 rgba(0,178,255,1);
        background: rgb(0, 0, 0);
    }
    .login-form-2{
        left:2.5%;
        display:inline-block;
        padding: 5%;
        padding-bottom: 10%;
        border: 0.5px groove;
        border-radius: 5px;
        border-width: 5px;
        border-color: rgb(255, 255, 255);
        box-shadow:
        inset 0 0 0.5em 0 rgba(0,178,255,1), 0 0 3em 0 rgba(255,0,0);
        background: rgb(0, 0, 0);
    }
  }

  
h3{
    color: #fff;

}
h3:after{
    color:darkgray;
   z-index: -1;

    filter:blur(15px);
}



.login-form-1 h3{
    padding: 5%;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow:
    0 0 5px rgba(0,178,255,1),
    0 0 10px rgba(0,178,255,1),
    0 0 20px rgba(0,178,255,1),
    0 0 40px rgba(38,104,127,1),
    0 0 80px rgba(38,104,127,1),
    0 0 90px rgba(38,104,127,1),
    0 0 100px rgba(38,104,127,1),
    0 0 140px rgba(38,104,127,1),
    0 0 180px rgba(38,104,127,1);
}

.login-form-2 h3{
    padding: 5%;
    text-align: center;
    color: #fff;
    text-shadow:
    0 0 5px rgb(255, 0, 0),
    0 0 10px rgb(255, 8, 0),
    0 0 20px rgb(255, 38, 0),
    0 0 40px rgb(127, 71, 38),
    0 0 80px rgb(127, 38, 38),
    0 0 90px rgb(127, 38, 38),
    0 0 100px rgb(127, 38, 38),
    0 0 140px rgb(127, 38, 38),
    0 0 180px rgb(127, 38, 38);
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    
}
.btnSubmit::after{
    content: "";
    clear: both;
    display: table;
}
.login-form-1 .btnSubmit{
    position: absolute;
    margin-left: 0.1cm;margin-top: 0.07cm;
    display: inline-block;
    padding: 0%;
    width: 95%;
    padding:5%;
    color: rgba(0,178,255,1);
    background-color: black;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
}
.login-form-1 .btnSubmit:hover{
    color: #ffffff;
    text-shadow:
    0 0 5px rgba(0,178,255,1),
    0 0 10px rgba(0,178,255,1),
    0 0 20px rgba(0,178,255,1),
    0 0 40px rgba(38,104,127,1),
    0 0 80px rgba(38,104,127,1),
    0 0 90px rgba(38,104,127,1),
    0 0 100px rgba(38,104,127,1),
    0 0 140px rgba(38,104,127,1),
    0 0 180px rgba(38,104,127,1);
}

.login-form-2 .btnSubmit{
    width: 95%;
    position: absolute;
    margin-left: 0.1cm;margin-top: 0.07cm;
    display: inline-block;
    padding: 3%;
    color: rgb(255, 0, 0);
    background-color: black;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
}
.login-form-2 .btnSubmit:hover{
    color: #ffffff;
    text-shadow:
    0 0 5px rgb(255, 0, 0),
    0 0 10px rgb(255, 8, 0),
    0 0 20px rgb(255, 38, 0),
    0 0 40px rgb(127, 71, 38),
    0 0 80px rgb(127, 38, 38),
    0 0 90px rgb(127, 38, 38),
    0 0 100px rgb(127, 38, 38),
    0 0 140px rgb(127, 38, 38),
    0 0 180px rgb(127, 38, 38);
    
}

a {
    position:absolute;
    margin: 0;
    padding: 0;
    height: 45px;
    width: 100px;
    justify-content:left;
    background: black;
    overflow: hidden;
    
}
a span{
    position: absolute;
    display: block;
}
.login-form-1 a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}
.login-form-1 a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}
a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.login-form-1 a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}
a:hover span:nth-child(2) {
    overflow:hidden;
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.login-form-1 a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}
a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


.login-form-2 a {
    position:absolute;
    margin: 0;
    padding: 0;
    height: 45px;
    width: 150px;
    justify-content:left;
    background: black;
    overflow: hidden;
    
}
.login-form-2 a span{
    position: absolute;
    display: block;
}
.login-form-2 a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fa0000);
}

.login-form-2 a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}
.login-form-2 a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ff0000);
}
.login-form-2 a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.login-form-2 a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ff0000);
}
.login-form-2 a:hover span:nth-child(2) {
    overflow:hidden;
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.login-form-2 a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fd0000);
}
.login-form-2 a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;

}
.login-form-2 a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ff0000);
}
.login-form-2 a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.login-form-2 a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ff0000);
}
.login-form-2 a:hover span:nth-child(2) {
    overflow:hidden;
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.login-form-2 a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fd0000);
}
.login-form-2 a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

