
body{
    background-image:url(https://i.pinimg.com/236x/fa/eb/44/faeb443a2b3d292aab4d4ba86eb8260a.jpg);
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
.btn-primary{
    background-color: rgb(0, 0, 0);
    border-width: 5px;
    border-color:#007bff ;
    
    
}
.hide-upload {
    display: none;
}

.btn-primary:hover{
    background-color: #007bff;
    box-shadow: 
        inset 0 0 0.5em 0 #007bff,
         0 0 3em 0 #007bff;
}

.noticia-list-item {
    background-color: #101820FF;
    border: 0.5px solid;
    border-radius: 5px;
    border-width: 5px;
    border-width:2px;
    border-color:#fff;
    display: flex;
    max-height: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    justify-content: space-between;
}
.noticia-list-item .item-content .item-content-result.precio,
.noticia-list-item .item-content .item-content-result.talla,
.noticia-list-item .item-content .item-content-result.materales,
.noticia-list-item .item-content .item-content-result.cantidad {
    color: #F2AA4CFF;
    font-size: 17px;
}
.modal-h3 {
    color: #101820FF;
}
.noticia-list-item .item-content .item-content-result.precio span,
.noticia-list-item .item-content .item-content-result.talla span,
.noticia-list-item .item-content .item-content-result.materales span,
.noticia-list-item .item-content .item-content-result.cantidad span {
    color: #fff;
}
.noticia-list-item .item-content-result.descrip {
    margin-bottom: 40px;
}
.noticia-list-item:hover{

    box-shadow: inset 0 0 0.5em 0 #ffffff, 0 0 0.5em 0 #ffffff;
}

.navbar .btn-outline-danger {
    border-color: #dc3545;
    background: #343a40;
    color: #dc3545;
}
.navbar .btn-outline-danger:hover {
    border-color: #dc3545;
    background: #dc3545;
    box-shadow: 0 0 3em 0 #dc3545;
    color: #ffffff;
}
.navbar {
    background-color: #101820FF !important;
}
.navbar .navbar-brand {
    color: #F2AA4CFF;
}


.noticia-list-item .item-image {
    width: 350px;
}
.noticia-list-item .item-image img { 
    width: 350px;
    height: 100%;
    object-fit: cover;
}

.noticia-list-item .item-content {
    padding: 15px;
    width: 100%;
    color:#fff;
}
.noticia-list-item .item-content .item-content-author {
    font-size: 15px;
}
.noticia-list-item .item-content .item-content-author span {
    font-weight: bold;
}
.noticia-list-item .item-content .item-content-result.title {
    font-size: 20px;
    font-weight: bold;
    color: #F2AA4CFF;
    margin-bottom: 0;
}
.noticia-list-item .item-options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.noticia-list-item .item-options .btn {
   height: 45px;
   width: 45px;
   margin: 0 5px;
}
.btn-outline-warning {
    border-color: #ffc107;
    background: rgb(0, 0, 0);
    color: #ffc107;
}
.btn-outline-warning:hover {
    border-color: #ffc107;
    background: #ffc107;
    box-shadow: 0 0 3em 0 #ffc107;
    color: #ffffff;
}
.noticia-list-item .item-options .btn-outline-danger {
    border-color: #dc3545;
    background: rgb(0, 0, 0);
    color: #dc3545;
}
.noticia-list-item .item-options .btn-outline-danger:hover {
    border-color: #dc3545;
    background: #dc3545;
    box-shadow: 0 0 3em 0 #dc3545;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .noticia-list-item {
        flex-direction: column;
        max-height:100%;
    }
    .noticia-list-item .item-image { 
        width: 100%;
    }
    .noticia-list-item .item-image img { 
        width: 100%;
    }
    .noticia-list-item .item-options {
        display: flex;
    }
}
@media only screen and (min-width: 768px) {
    .noticia-list-item {
        width: 100%;
        max-height:100%;
        display:flex;
        flex-direction: row;
        padding:5px;
    }
    .noticia-list-item .item-image { 
        margin:auto;
        width: 100%;
        height: 350px;        
    }
    .noticia-list-item .item-image img { 
        width:100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
}

@media only screen and (min-width: 992px) {
    .noticia-list-item {
        width: 100%;
        max-height:100%;
        display:flex;
        flex-direction: row;
        padding:5px;
    }
    .noticia-list-item .item-image { 
        width: 60%;
        height: 350px;
        object-fit: cover;
        
    }
    .noticia-list-item .item-image img { 
        width:90%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
}
@media only screen and (min-width: 1200px) {
    .noticia-list-item {
        width: 100%;
        max-height:100%;
        display:flex;
        flex-direction: row;
        padding:5px;
    }
    .noticia-list-item .item-image { 
        width: 40%;
        height: 310px;
        object-fit: cover;
        
    }
    .noticia-list-item .item-image img { 
        width:100%;
        height:100%;
        border-radius: 5px;
    }
}
